##############################
## Java
##############################
.mtj.tmp /
*.clase
*.tarro
*.guerra
*.oído
* .nar
hs_err_pid *

##############################
## Maven
##############################
objetivo/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependencia-reducido-pom.xml
buildNumber.properties
.mvn / timing.properties
.mvn / wrapper / maven-wrapper.jar

##############################
## Gradle
##############################
compartimiento/
construir/
.gradle
.gradletasknamecache
gradle-app.setting

##############################
## IntelliJ
##############################
fuera/
.idea/
.idea_modules /
* .iml
* .ipr
* .iws

##############################
## Eclipse
##############################
.settings /
tmp /
.metadata
.classpath
.proyecto
* .tmp
* .bak
* .swp
* ~ .nib
propiedades locales
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject / private /
nbbuild /
dist /
nbdist /
nbactions.xml
nb-configuration.xml

##############################
## Código de Visual Studio
##############################
.vscode /

##############################
## OS X
##############################
.DS_Store

######################
mvnw
mvnw.cmd
HELP.md
ecommerce-products-backend.iml
target/
